<h2>Cultura liberă</h2>

<p>„Cultura liberă” se referă la libertatea oamenilor de a folosi, studia, modifica, copi și împărtăși lucrarile de cultură fară a cere voie de la cineva. Lucrările de creație care pot fi folosite în acest mod sunt numte lucrări culturale libere. Mai exact, o lucrare senumește liberă dacă avem:</p>

<ul>
  <li><b>libertatea de a folosi lucrarea şi de a ne bucura de beneficiile folosirii ei.</b></li>
  <li><b>libertatea de a studia lucrarea şi de a aplica cunoştinţele învăţate din ea.</b></li>
  <li><b>libertatea de a face şi de a redistribui copii.</b></li>
  <li><b>libertatea de a face schimbări și îmbunătăţiri, de a distribui lucrări derivate.</b></li> 
</ul>

<p>Cultura este ceva participativ. Oamenii nu sunt doar „consumatori” pasivi ai artei pe care o crează artiștii, este o interacțiune reciprocă, cultura este creată de întreaga societate. Aceste libertăți sunt foarte valoroase atât pentru artiști cât și audiența sa....   </p>

[1] - http://blaise.ca/blog/2008/03/21/why-free-culture/
