<h2>Materiale</h2>

<h2>„Proprietate intelectuală”, patente, prevete etc.</h2>

<ul>
    <li><a href="http://www.gnu.org/philosophy/not-ipr.html">Did You Say “Intellectual Property”? It's a Seductive Mirage</a> de Richard Stallman</li>
    <li><a href="http://danny.oz.au/free-software/advocacy/against_IP.html">Against intellectual property</a> de Brian Martin</li>
    <li><a href="http://levine.sscnet.ucla.edu/general/intellectual/against.htm">Against Intellectual Monopoly</a> de Michele Boldrin și David K. Levine</li>
    <li><a href="http://www.youtube.com/watch?v=G2VHf5vpBy8">"Innovation under Austerity" - Eben Moglen keynote</a></li>
    <li><a href="http://www.youtube.com/watch?v=sKOk4Y4inVY&feature=related">Why Freedom of Thought Requires Free Media and Free Software</a> - Eben Moglen</li>
    <li><a href="http://www.gnu.org/philosophy/words-to-avoid.html">Words to Avoid</a> - GNU project</li>
</ul>

<h2>Progemae Libere</h2>
<ul>
    <li><a href="http://www.gnu.org/philosophy/free-sw.html">Ce este programe libere?</a> de Free Software Foudnation</li>
    <li><a href="http://www.gnu.org/gnu/gnu.html">Instoria sistemului de operare GNU/Linux</a> de Proiectul GNU</li>
    <li><a href="http://fsfe.org/about/basics/freesoftware.en.html">Ce este programe libere?</a> de Free Software Foudnation Europe</li>
    <li><a href="http://fsfe.org/freesoftware/society/democracy.en.html">Democrația necesită programe libere</a> de Fundația Europeană pentru Programe Libere</li>
    <li><a href="http://freedomboxfndn.mirocommunity.org/video/3/why-political-liberty-depends-">Why Political Liberty Depends on Software Freedom More Than Ever</a> - Eben Moglen</li>
</ul>

<h2>Cultură Liberă</h2>

<ul>
    <li><a href="http://freedomdefined.org">Definiția lucrării culturale libere</a></li>
    <li><a href="http://blaise.ca/blog/2008/03/21/why-free-culture/">Why Free Culture</a> - Blaise Alleyne </li>
    <li><a href="http://questioncopyright.org/what_is_free_culture">What is free culture?</a></li>
<ul>
