<h2>Ce este „pirateria”?</h2>

<p>Foarte des este folosită expresia „piraterie” pentru a face referință în realitate la copierea restricționată de către autori, editori sau dezvoltatori. Prin această expresie neadecvată, care oferă cetățenilor o idee eronată despre copiere, se dorește a echivala din punct de vedere etic copierea și împărtășirea interzisă de autori cu faptul de a ataca corăbii sau a fura. Noi considerăm că utilizatorii trebuie să aibă libertatea de a copia, studia, modifica și împărtăși lucrările, fără a cere voie de la autori, iar restricționarea acestor libertăți este un lucru neetic.</p>

<p>Restricționarea acestor libertăți afectează direct atât autorii, cât și audiența sa. Autorii trebuie să câștige din lucrul pe care îl fac ei (creații sau programe), dar nu din faptul că cineva creează o copie acasă la el și o împărtășește. Crearea unei copii nu reprezintă efortul autorului și a plăti bani de fiecare dată când faci o copie este o nedreptate.</p>

<p>Astăzi tot mai mulți dezvoltatori și artiști aleg să creeze programe libere și creații libere. Programele libere și creațiile libere oferă oamenilor libertatea de folosi, copia, studia, modifica, împărtăși. Aceste libertăți oferite de către autori audienței sale sau utilizatorilor nu le afectează venitul, ci le este mai convenabil, deoarece lucrările lor au devenit mult mai competitive pe piață decât cele restricționate.</p>

<h2>Ce este contrafacerea?</h2>

<p>Campania „Stop pirateria și contrafacerea” încearcă să pună alături copierea și contrafacerea, care sunt lucruri cu totul diferite. Contrafacerea reprezintă falsa atribuire a lucrărilor altor autori.
Copierea lucrărilor nu are nimic în comun cu aceasta și ar trebui să fie un drept al utilizatorilor.</p>

<h2>Ce este „proprietarae intelectuală”?</h2>

<p>Termenul „proprietate intelectuală”  este foarte des utilizat pentru a face referință la legi ca brevetele, drepturi de autor, mărcile înregistrate sau secretele industriale. Aceste legi tratează lucruri diferite și utilizarea unui singur termen ca „proprietate intelectuală” pentru a face referință la ele este ceva eronat. Lucrurile la care se referă fiecare din aceste legi în parte nu pot fi tratate la fel ca și bunurile fizice asupra cărora se aplică regea de proprietate privată. Bunuri fizice (cum ar fi pământul sau o casă) diferă de lucrările intelectuale sau informația. Lucrările intelectuale și informația nu se exclud și nu se consumă în timpul folosirii. Spre exemplu, dacă cineva face o copie a unei lucrări și o folosește, acest lucru nu consumă sau nu previne folosirea lucrării originale. Din ceste motive noi încurajăm să nu folosi acest termen eronat și confuz „proprietate intelectuală”.</p>
