<h2>Programe libere</h2>

„Programele libere” se referă la <a href="http://www.gnu.org/philosophy/free-sw.html">libertatea utilizatorilor</a>. Un program este liber dacă utilizatorii au libertatea:

<ul>
    <li><b>de a utiliza programul, în orice scop</b></li>
    <li><b>de a studia modul de funcționare (a avea acces la codul sursă) al programului și de a-l adapta nevoilor proprii</b></li>
    <li><b>de a redistribui copii, în scopul ajutorării celor din jur</b></li>
    <li><b>de a îmbunătăți programul și de a pune și îmbunătățirile la dispoziția publicului, în folosul întregii societăți</b></li>
</ul>

<p>Progrmalele libere sunt lansate cu o licență (spre exmeplu, <a href="http://www.gnu.org/copyleft/gpl.html">Licența Publică Generală GNU</a>) care asigură că orice utilizator va avea dreptul legal să facă uz de toate aceste libertăți, fară a fi restricționat de cineva sau a întreba de cineva. Acestă formă de utilizare a programelor este una etică, care asigură stabilirea unei societați digitale libere, <a href="http://fsfe.org/freesoftware/society/democracy.en.html">controlului democratic al tehnologiei</a>, accesul egal și transparent la informație și cunoștințe. De asemenea libertatea programelor ne oferă lansarea unor afaceri în dezoltarea programelor de calculatoare care se barează pe pricipii etice, libertate în creație și inovație, concurență puternică.</p>

<p>Sistemul de operare <a href="http://gnu.org">GNU/Linux</a>, navigatorul <a href="http://www.mozilla.org/en-US/">Firefox</a>, suita birotică <a href="http://libreoffice.org">LibreOffice</a>, sunt doar câteva exemple din mii și mii de programe libere care sunt dezvoltate astăzi de oameni simpli, comunități, programatori profesioniști și companii. Promovarea libertăților utilizatorilor și ideilor care satu la baza lor, dezvoltarea programelor libere, fac parte din <a href="http://fsfe.org/freesoftware/transcripts/rms-fs-2006-03-09.en.html">mișcarea pentru programe libere</a> care a luat naștere la începutul anilor '80,  având o continuare și astăzi, într-o formă din ce în ce mai vastă.</p>

<h2>Programele proprietărești<sup>*</sup></h2>

<p>Cu părere de rău astăzi foarte mulți încă mai folosesc programele nelibere sau proprietărești. Însă programele nelibere restricționează libertățile utilizatorilor. Utilizatorilor le este interzis să folosească, să copie și să împărtășească, să studieze modul de cunționare a programelor și să-l modifie după necesități. Acest lucru este o nedreptate care oferă o putere enormă dezvoltatorilor asupra utilizatorilor. Spre exemplu, utilizatorii nici măcar nu pot fi sigrui dacă programele care le folosesc fac ceea ce trebuie să facă, dar nu fac ceva mai mult, cum ar fi să-i spioneze. Verificare codului programelor proprietărești este unterzisă.</p>
 
<p>Toate aceste restricții condul la intrasparență, inegalitate în accesul la infromație și participare în lumea digitală, control asupra utilizatorlir și blocarea lor pe anumite plafrome, monopoluri în care concurența este marginalizată, standardizare care nu respectă libertațile utilizatorilor. Cu programele nelibere societatea nu potate controla tehnologia pe care o folosește, această putere (tehnologia) râmăne în mânile unui grup restrâns de oameni sau companii.</p>

<p class="ref">* Foarte des este utilizată varianta greșită „program priprietar”, dar în limba romnână nu există adjectivul „proprietar”. Corect este „program proprietaresc”.</p>
