body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #343434;
    background: #eee;
    background-image: url('back.png');
}

h1, h2, h3, h4 { font-weight: lighter; }

.clear {clear: both;}

#container
{
    box-shadow: 0px 0px 3px #888;
    background: #fff;
    width: 960px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

#header
{
    height: 155px;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 2px solid #dcdcdc;
    box-shadow: inset 1px -1px 4px 1px white ,0px 1px 2px 1px #BCBCBC,0px 5px 17px 0px #CBCBCB;
    background: #eeeeee;
    background: -webkit-linear-gradient(bottom, whiteSmoke 0%, #EDEDED 4%,white 13%,white 35%,#E3E3E3 80%, #EEE 96%);
    background:    -moz-linear-gradient(bottom, whiteSmoke 0%, #EDEDED 4%,white 13%,white 35%,#E3E3E3 80%, #EEE 96%);
    background:      -o-linear-gradient(bottom, whiteSmoke 0%, #EDEDED 4%,white 13%,white 35%,#E3E3E3 80%, #EEE 96%);
    background:     -ms-linear-gradient(bottom, whiteSmoke 0%, #EDEDED 4%,white 13%,white 35%,#E3E3E3 80%, #EEE 96%);
}

#header .logo
{
    margin-left: 10px;
    margin-right: 20px;
    float: left;
}

#header h1
{
    font-family: sans-serif;
    font-size: 2.2em;
    font-weight: bold;
    width: 50%;
    padding-top: 90px;
    margin-left: 45%;
    color: #154270;
    word-spacing: 5px;
}

/**
 * ----- Content -----
 */

#content
{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 4em;
}

#content .introduction
{
    /*border-radius: 8px;
    box-shadow: 0px 0px 6px #aaa;*/
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 2em;
    clear: both;
    /*background: #eee;*/
    color: #888;
}

#content .ref
{
    margin-top: 2em;
    border-top: 1px  solid #aaa;
    color: #777;
    padding: 0.3em;
    font-size: 0.9em;
}

#sidebar
{
    float: right;
    width: 250px;
    text-align: center;
    padding-top: 2em;
}

#sidebar img
{
    margin-bottom: 1em;
}

#main-menu
{
    text-align: center; 
    width: 680px;   
}

#main-menu a
{
    opacity: 0.9; 
    box-shadow: 0px 0px 3px #555;
    text-decoration: none;
    float: left;
    display: block;
    border: 3px solid #ddd;
    width: 200px;
    height: 200px;
    margin: 10px;
}

#main-menu a:hover
{
    opacity: 1;
    border: 3px solid #aaa;
}

#main-menu .item-1
{
    background-image: url('bk1.jpg');
}

#main-menu .item-2
{
    background-image: url('gnu.png');
}

#main-menu .item-3
{
    background-image: url('fc.png');
}

#main-menu .item-4
{
    background-image: url('materials.jpg');
}

#main-menu .item-5
{
    background-image: url('promote.jpg');
}

#main-menu .item-6
{
    background-image: url('about.jpg');
}

#main-menu p
{
    opacity: 0.9;
    font-weight: bold;
    color: #111;
    padding: 1em;
    margin: 0;
    background: #eee;
}

#footer
{
    text-align: center;
    margin: 3em;
    font-size: 0.9em;
}


#popup {
    display: none;
    width: 960px;
    height: 530px;
    position: absolute;
    left: 50%;
    margin-left: -515px;
    margin-top: -30px;
    border-radius: 10px;
    opacity: 1;
    background: #FFFFFF;
    padding: 25px 35px;
    border: 1px dotted #dddddd;
    clear: both;
    box-shadow: -2px -2px 20px 2px #999999;
}
/*
.close-button {
    width: 20px;
    float: right;
    margin-top: -20px;
    margin-right: -30px;
    cursor: pointer;
}
*/

    .close-button {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 0px;
        top: 0px;
        cursor: pointer;
        background: #cccccc;
        border-radius: 0px 10px 0px 8px;
    }
        .close-button p {
            margin: 8px auto;
            text-align: center;
            font-family: sans;
            font-size: 12px;
            font-weight: bold;
        }

    #popup #popup-content {
        height: 100%;
        width: 100%;
        margin: 0px auto;
        overflow: auto;
    }
